In [3]:
import pandas as pd

In [4]:
# loading datasets
wormexp = pd.read_excel('WormExp_2_0_info_20170727_Unique_Studies.xlsx')
data = pd.read_excel('Extended_Data_Table_until_2017.xlsx')

In [5]:
wormexp.head()

                                    References
0  http://www.ncbi.nlm.nih.gov/pubmed/11557892
1  http://www.ncbi.nlm.nih.gov/pubmed/16168746
2  http://www.ncbi.nlm.nih.gov/pubmed/16962739
3  http://www.ncbi.nlm.nih.gov/pubmed/16380712
4  http://www.ncbi.nlm.nih.gov/pubmed/11697852

In [7]:
data.head()

                                  References
0  https://pubmed.ncbi.nlm.nih.gov/17919598/
1  https://pubmed.ncbi.nlm.nih.gov/17526642/
2  https://pubmed.ncbi.nlm.nih.gov/18042455/
3  https://pubmed.ncbi.nlm.nih.gov/18571452/
4  https://pubmed.ncbi.nlm.nih.gov/18234720/

In [8]:
wormexp_ref = wormexp['References'].to_frame()
data_ref = data['References'].to_frame()

In [9]:
# extracting Pubmed IDs from URLs
wormexp_ref['pubmed_id'] = wormexp_ref['References'].str[-8:]
data_ref['pubmed_id'] = data_ref['References'].str[-9:-1]

In [8]:
wormexp_ref.head()

                                    References pubmed_id
0  http://www.ncbi.nlm.nih.gov/pubmed/11557892  11557892
1  http://www.ncbi.nlm.nih.gov/pubmed/16168746  16168746
2  http://www.ncbi.nlm.nih.gov/pubmed/16962739  16962739
3  http://www.ncbi.nlm.nih.gov/pubmed/16380712  16380712
4  http://www.ncbi.nlm.nih.gov/pubmed/11697852  11697852

In [10]:
data_ref.head()

                                  References pubmed_id
0  https://pubmed.ncbi.nlm.nih.gov/17919598/  17919598
1  https://pubmed.ncbi.nlm.nih.gov/17526642/  17526642
2  https://pubmed.ncbi.nlm.nih.gov/18042455/  18042455
3  https://pubmed.ncbi.nlm.nih.gov/18571452/  18571452
4  https://pubmed.ncbi.nlm.nih.gov/18234720/  18234720

In [11]:
# merging the two dataframes to see number of shared studies
common = wormexp_ref.merge(data_ref, left_on='pubmed_id', right_on='pubmed_id', how='inner')

In [12]:
print(f"number of common datasets is {len(common)}")

number of common datasets is 30